<h1>KelloggCoin Ledger</h1>

<!-- Step 1: List all transactions, starting with the ICO -->
<% transactions = Transaction.all %>

<ol>
<% transactions.each do |transaction| %>
<% from_name = User.find_by(id: transaction.from_user_id) %>
<% to_name = User.find_by(id: transaction.to_user_id) %>

  <li>
      <% if from_name == nil %>
          Initial coin offering: <%= transaction.amount %> to <%= to_name.name %>
      <% else %>
          <%= transaction.amount %> from <%= from_name.name %> to <%= to_name.name %>
      <% end %>
  </li>

<% end %>
</ol>

<!-- Step 2: Calculate and display the balances -->
<% users = User.all %>

<ul>
<% users.each do |user| %>
  <% inflow = Transaction.where(to_user_id: user.id).sum(:amount) %>
  <% outflow = Transaction.where(from_user_id: user.id).sum(:amount) %>
  <% balance = inflow - outflow %>

    <li> Balance for <%= user.name %>: <%= balance %> KC </li>
<% end %>
</ul>

<!-- 
Expected balances:
Balance for Brian: 1348 KC
Balance for Ben: 2516 KC
Balance for Evan: 1164 KC
Balance for Anthony: 1456 KC
Balance for Krystina: 3516 KC 
-->